<app-exercise-header [exerciseId]="exerciseId()" [progress]="progress()" />

<section #questions class="flex flex-auto flex-col pb-6 overflow-auto">
  <div class="flex max-w-2xl mx-auto w-full">
    <pre class="mx-auto"><code language="vbnet">Option Explicit
Option Base 1

Sub Sport()

    Const AANTAL As Integer = 3
    Dim strAct(AANTAL) As String
    Dim intCalPerMin(AANTAL) As Integer
    Dim intI As Integer

    intI = 1

    Do While intI <= AANTAL
        strAct(intI) = InputBox("Geef naam van activiteit " & CStr(intI)))
        intCalPerMin(intI) = CInt(InputBox("Calorieën per minuut voor " & strAct(intI))
        intI = intI + 1
    Loop

    MsgBox (strAct(2) & " verbrandt " & CStr(intCalPerMin(2)) & " cal/min")

End Sub
</code></pre>
  </div>

  @if (question() >= 1) {
  <div class="flex flex-col gap-2 max-w-2xl mx-auto px-4 py-6 w-full">
    <p class="text-base">Wat verschijnt er in de MsgBox?</p>
    <mat-radio-group
      aria-labelledby="question-1-label"
      class="flex flex-col"
      id="question-1-radio-group"
      name="question-1-radio-group"
      [(ngModel)]="question1Answer">
      @for (answer of question1Answers(); track $index) {
      <mat-radio-button [value]="answer">{{ answer }}</mat-radio-button>
      }
    </mat-radio-group>
    @if (question1Checked() || question() > 1) {
    <app-feedback-button [correct]="question1Correct()" [feedback]="question1ShowFeedback()">
      <p correct>
        In de MsgBox worden strAct(2) en intCalPerMin(2) gebruikt, dus precies de waarden die bij index 2 in beide
        arrays zijn opgeslagen.
      </p>
      <p tip>Welke index wordt expliciet gebruikt in de MsgBox om waarden uit de arrays op te halen?</p>
    </app-feedback-button>
    }
  </div>
  } @if (question() >= 2) {
  <div class="flex flex-col gap-2 max-w-2xl mx-auto px-4 py-6 w-full">
    <p class="text-base">Welke uitspraak klopt?</p>
    <mat-radio-group
      aria-labelledby="question-2-label"
      class="flex flex-col"
      id="question-2-radio-group"
      name="question-2-radio-group"
      [(ngModel)]="question2Answer">
      @for (answer of question2Answers(); track $index) {
      <mat-radio-button [value]="answer">{{ answer }}</mat-radio-button>
      }
    </mat-radio-group>
    @if (question2Checked() || question() > 2) {
    <app-feedback-button [correct]="question2Correct()" [feedback]="question2ShowFeedback()">
      <p correct>
        Beide arrays worden met dezelfde index (intI) ingevuld. Daardoor horen strAct(2) en intCalPerMin(2) bij dezelfde
        activiteit.
      </p>
      <p tip>Wat gebeurt er in de lus met dezelfde indexwaarde wanneer beide arrays worden ingevuld?</p>
    </app-feedback-button>
    }
  </div>
  } @if (question() >= 3) {
  <div cdkDropListGroup class="flex flex-col gap-2 max-w-2xl mx-auto px-4 py-6 w-full">
    <p class="text-base">Sleep de elementen naar de juiste locatie.</p>
    <div
      cdkDropList
      class="flex min-h-9 gap-4 mb-4"
      id="question-3-elements"
      [cdkDropListData]="question3Elements()"
      (cdkDropListDropped)="question3ElementDropped($event)">
      @for (element of question3Elements(); track $index) {
      <span cdkDrag class="cursor-pointer font-medium p-2" [cdkDragData]="element">{{ element }}</span>
      }
    </div>
    <div class="flex gap-4 max-w-2xl mx-auto">
      <div class="flex flex-col items-end gap-4 w-full">
        <div class="h-8 flex items-center">Waarde</div>
        <div class="h-8 flex items-center">Index</div>
      </div>
      <div class="flex flex-col gap-4 mx-auto">
        <div class="flex">
          <mat-chip
            cdkDropList
            cdkDropListElementContainer=".mdc-evolution-chip__text-label"
            class="min-w-30"
            id="question-3-value-1"
            [cdkDropListData]="question3Value1()"
            [cdkDropListEnterPredicate]="allowSingleItemDrop"
            (cdkDropListDropped)="question3ElementDropped($event)">
            @for (element of question3Value1(); track $index) {
            <span cdkDrag class="cursor-pointer font-medium p-2" [cdkDragData]="element">{{ element }}</span>
            }
          </mat-chip>
          <mat-chip
            cdkDropList
            cdkDropListElementContainer=".mdc-evolution-chip__text-label"
            class="min-w-30"
            id="question-3-value-2"
            [cdkDropListData]="question3Value2()"
            [cdkDropListEnterPredicate]="allowSingleItemDrop"
            (cdkDropListDropped)="question3ElementDropped($event)">
            @for (element of question3Value2(); track $index) {
            <span cdkDrag class="cursor-pointer font-medium p-2" [cdkDragData]="element">{{ element }}</span>
            }
          </mat-chip>
          <mat-chip
            cdkDropList
            cdkDropListElementContainer=".mdc-evolution-chip__text-label"
            class="min-w-30"
            id="question-3-value-3"
            [cdkDropListData]="question3Value3()"
            [cdkDropListEnterPredicate]="allowSingleItemDrop"
            (cdkDropListDropped)="question3ElementDropped($event)">
            @for (element of question3Value3(); track $index) {
            <span cdkDrag class="cursor-pointer font-medium p-2" [cdkDragData]="element">{{ element }}</span>
            }
          </mat-chip>
        </div>
        <div class="flex">
          <div class="flex justify-center min-w-30">
            <mat-chip
              cdkDropList
              cdkDropListElementContainer=".mdc-evolution-chip__text-label"
              class="min-w-10"
              id="question-3-index-1"
              [cdkDropListData]="question3Index1()"
              [cdkDropListEnterPredicate]="allowSingleItemDrop"
              (cdkDropListDropped)="question3ElementDropped($event)">
              @for (element of question3Index1(); track $index) {
              <span cdkDrag class="cursor-pointer font-medium p-2" [cdkDragData]="element">{{ element }}</span>
              }
            </mat-chip>
          </div>
          <div class="flex justify-center min-w-30">
            <mat-chip
              cdkDropList
              cdkDropListElementContainer=".mdc-evolution-chip__text-label"
              class="min-w-10"
              id="question-3-index-2"
              [cdkDropListData]="question3Index2()"
              [cdkDropListEnterPredicate]="allowSingleItemDrop"
              (cdkDropListDropped)="question3ElementDropped($event)">
              @for (element of question3Index2(); track $index) {
              <span cdkDrag class="cursor-pointer font-medium p-2" [cdkDragData]="element">{{ element }}</span>
              }
            </mat-chip>
          </div>
          <div class="flex justify-center min-w-30">
            <mat-chip
              cdkDropList
              cdkDropListElementContainer=".mdc-evolution-chip__text-label"
              class="min-w-10"
              id="question-3-index-3"
              [cdkDropListData]="question3Index3()"
              [cdkDropListEnterPredicate]="allowSingleItemDrop"
              (cdkDropListDropped)="question3ElementDropped($event)">
              @for (element of question3Index3(); track $index) {
              <span cdkDrag class="cursor-pointer font-medium p-2" [cdkDragData]="element">{{ element }}</span>
              }
            </mat-chip>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</section>

<app-exercise-footer
  [checked]="checked()"
  [checking]="checking()"
  [correct]="correct()"
  [isCheckDisabled]="isCheckDisabled()"
  (check)="check()"
  (continue)="continue()" />
