<app-exercise-header [exerciseId]="exerciseId()" [progress]="progress()" />

<section #questions class="flex flex-auto flex-col pb-6 overflow-auto">
  @if (question() >= 1) {
  <div class="flex flex-col gap-2 max-w-2xl mx-auto px-4 py-6 w-full">
    <p class="text-base text-justify">
      In deze oefening maak je zelf een volledige oplossing.
      Werk de oefening best eerst uit in Excel, zodat je kan testen of alles correct werkt.
      Plak daarna je code hieronder om ze te laten controleren.
    </p>
    <p class="text-base text-justify">
      De controle gebeurt met AI. Het kan dus even duren voor je feedback krijgt, 
      maar die is op maat van jouw oplossing.
    </p>
    <p class="text-base text-justify">
     Schrijf nu zelf een programma met de naam Hittegolf dat een integer-array van 5 elementen (index 1 t.e.m. 5) 
     aanmaakt om dagmaxima op te slaan en de nodige hulpvariabelen declareert. Het programma vraagt met behulp 
     van een Do While-lus voor elke dag via een InputBox het dagmaximum, waarbij het nummer van de dag in de vraag 
     vermeld wordt (bv. “Geef dagmaximum voor dag 1 (tussen -10 en 50°C):”). Enkel invoerwaarden tussen -10 en 50 
     (inclusief) zijn geldig: bij ongeldige invoer moet dezelfde dag opnieuw gevraagd worden en mag je niet 
     doorschuiven naar de volgende dag. Elke geldige temperatuur wordt in de array opgeslagen. 
     Daarna ga je met een For-lus na hoeveel dagen boven 25°C liggen en hoeveel dagen boven 30°C liggen. 
     Toon tot slot met één MsgBox “Hittegolf gedetecteerd!” als alle 5 dagen boven 25°C zijn én er binnen die 5 dagen
    minstens 3 dagen boven 30°C zijn, anders toon je “Geen hittegolf.”.
    </p>
  </div>
  <div class="flex flex-col max-w-2xl mx-auto w-full">
    <pre
      class="mx-auto"><code contenteditable language="vbnet" spellcheck="false" (input)="question1Answer.set($any($event).target.innerHTML)" (keydown)="tabTo4Spaces($event)">{{ question1Answer() }}
</code></pre>
  </div>
  @if (question1Tips().length > 0) {
  <div class="flex flex-col gap-2 max-w-2xl mx-auto px-4 py-6 w-full">
    <div class="flex flex-col items-start gap-4 mt-2">
      <button matButton="outlined" type="button" (click)="question1ShowTips.set(!question1ShowTips())">
        <mat-icon>{{ question1ShowTips() ? 'expand_less' : 'expand_more'}}</mat-icon>
        <span>Tips</span>
      </button>
      @if (question1ShowTips()) {
      <ul class="list-disc text-base pl-6">
        @for (tip of question1Tips(); track $index) {
        <li>{{ tip }}</li>
        }
      </ul>
      }
    </div>
  </div>
  } }
</section>

<app-exercise-footer
  [checked]="checked()"
  [checking]="checking()"
  [correct]="correct()"
  [isCheckDisabled]="isCheckDisabled()"
  (check)="check()"
  (continue)="continue()" />
