<app-exercise-header [exerciseId]="exerciseId()" [progress]="progress()" />

<section #questions class="flex flex-auto flex-col pb-6 overflow-auto">
  @if (question() >= 1) {
  <div class="flex flex-col gap-2 max-w-2xl mx-auto px-4 py-6 w-full">
    <p class="text-xl leading-relaxed">
      Onderstaande code is bijna correct, maar bevat één fout.<br />
      Duid de foute {{ question1Solution.length > 1 ? 'lijnen' : 'lijn' }} code aan.
    </p>
    <p class="text-xl leading-relaxed">
      Als het programma correct zou werken, dan zou eerst de eerste vrije campingplaats gezocht worden en daarna zou die
      plaats gereserveerd worden door de overeenkomstige waarde in de array op True te zetten.
    </p>
    <mat-selection-list class="code-list" [multiple]="question1Solution.length > 1" [(ngModel)]="question1Answer">
      @for (line of question1; track line) { @if (line.empty) {
      <div class="empty-code-line"></div>
      } @else {
      <mat-list-option #option togglePosition="before" [ngClass]="{ selected: option.selected }" [value]="line.index">
        <code language="vbnet" [style.padding-left.px]="line.indent ? 12.5 * line.indent : undefined">
          {{ line.text }}
        </code>
      </mat-list-option>
      } }
    </mat-selection-list>
    @if (question1Checked() || question() > 1) {
    <app-feedback-button [correct]="question1Correct()" [feedback]="question1ShowFeedback()">
      <p correct>
        Hier geef je boolBezet(intVrij) door: dat is maar één element (True/False), niet de volledige array. De
        subroutine verwacht ByRef boolBezet() As Boolean, dus ze moet de hele array ontvangen om boolBezet(intPlaats) =
        True te kunnen uitvoeren.
      </p>
      <p tip>Geef je hier de volledige array door aan de subroutine, of maar één element van de array?</p>
    </app-feedback-button>
    }
  </div>
  }
</section>

<app-exercise-footer
  [checked]="checked()"
  [checking]="checking()"
  [correct]="correct()"
  [isCheckDisabled]="isCheckDisabled()"
  (check)="check()"
  (continue)="continue()" />
