<footer
  class="flex flex-none items-center justify-center p-4 shadow-[0px_-4px_6px_0px_rgba(0,_0,_0,_0.1)]"
  [ngClass]="{ 'bg-primary-50': correct() }">
  @if (checked()) {
  <div class="flex flex-1 gap-8 justify-evenly max-w-2xl mx-auto">
    @if (correct()) {
    <div class="flex items-center gap-4">
      <mat-icon class="animate-wiggle scale-130" svgIcon="party" />
      <span class="text-xl">Juist!</span>
    </div>
    }
    <button class="flex-1 max-w-[400px] h-12! text-base!" matButton="filled" type="button" (click)="continue.emit()">
      <mat-icon>arrow_forward</mat-icon>
      <span>Ga verder</span>
    </button>
  </div>
  } @else {
  <button
    class="flex flex-1 items-center gap-1 max-w-[400px] h-12! text-base!"
    matButton="filled"
    type="button"
    [disabled]="isCheckDisabled()"
    (click)="check.emit()">
    @if (checking()) {
    <mat-icon>
      <mat-spinner diameter="18" />
    </mat-icon>
    } @else {
    <mat-icon>check</mat-icon>
    }
    <span>{{ checking() ? 'Aan het controleren' : 'Controleer' }}</span>
  </button>
  }
</footer>
