@use 'tailwindcss';

// https://www.tints.dev/palette/v1:Z3JlZW58NjhhNjdkfDUwMHxwfDB8MHwwfDEwMHxtfm9yYW5nZXxGMThGMDF8NDAwfHB8MHwwfDB8MTAwfGF-YnJvd258QTM0NDAwfDcwMHxwfDB8MHwwfDEwMHxtfmJlaWdlfEY1RjBFN3w1MHxwfDB8MHwwfDEwMHxhfmdyYXl8MzUzNTM1fDkwMHxwfDB8MHwwfDEwMHxh
@theme {
  // green
  --color-primary-50: oklch(0.962 0.035 154.32);
  --color-primary-100: oklch(0.931 0.066 154.34);
  --color-primary-200: oklch(0.857 0.113 154.6);
  --color-primary-300: oklch(0.797 0.106 154.3);
  --color-primary-400: oklch(0.73 0.097 154.13);
  --color-primary-500: oklch(0.671 0.089 154.34);
  --color-primary-600: oklch(0.561 0.075 154.36);
  --color-primary-700: oklch(0.459 0.062 154.1);
  --color-primary-800: oklch(0.348 0.046 154.17);
  --color-primary-900: oklch(0.245 0.031 155.03);
  --color-primary-950: oklch(0.186 0.024 154.25);
  // orange
  --color-secondary-50: oklch(0.967 0.018 48.57);
  --color-secondary-100: oklch(0.935 0.037 50.06);
  --color-secondary-200: oklch(0.869 0.081 53.64);
  --color-secondary-300: oklch(0.803 0.136 59.36);
  --color-secondary-400: oklch(0.737 0.167 63.81);
  --color-secondary-500: oklch(0.638 0.144 63.7);
  --color-secondary-600: oklch(0.543 0.123 63.76);
  --color-secondary-700: oklch(0.438 0.099 63.98);
  --color-secondary-800: oklch(0.341 0.077 64.25);
  --color-secondary-900: oklch(0.236 0.053 64.85);
  --color-secondary-950: oklch(0.191 0.043 64.06);
  // brown
  --color-brown-50: oklch(0.966 0.017 26.74);
  --color-brown-100: oklch(0.935 0.033 31.63);
  --color-brown-200: oklch(0.861 0.076 33.78);
  --color-brown-300: oklch(0.797 0.119 37.36);
  --color-brown-400: oklch(0.724 0.18 43.67);
  --color-brown-500: oklch(0.655 0.184 46.13);
  --color-brown-600: oklch(0.584 0.164 46.23);
  --color-brown-700: oklch(0.506 0.141 46.32);
  --color-brown-800: oklch(0.381 0.106 46.75);
  --color-brown-900: oklch(0.266 0.074 46.81);
  --color-brown-950: oklch(0.204 0.058 45.68);
  // beige
  --color-beige-50: oklch(0.957 0.013 82.37);
  --color-beige-100: oklch(0.913 0.029 82.58);
  --color-beige-200: oklch(0.828 0.045 85.21);
  --color-beige-300: oklch(0.742 0.04 85.31);
  --color-beige-400: oklch(0.654 0.036 83.64);
  --color-beige-500: oklch(0.569 0.032 84.53);
  --color-beige-600: oklch(0.484 0.026 87.17);
  --color-beige-700: oklch(0.396 0.021 84.54);
  --color-beige-800: oklch(0.31 0.017 86.87);
  --color-beige-900: oklch(0.223 0.012 84.54);
  --color-beige-950: oklch(0.178 0.01 88.8);
  // gray
  --color-gray-50: #f3f3f3;
  --color-gray-100: #e5e5e5;
  --color-gray-200: #cfcfcf;
  --color-gray-300: #b6b6b6;
  --color-gray-400: #9e9e9e;
  --color-gray-500: #898989;
  --color-gray-600: #727272;
  --color-gray-700: #5c5c5c;
  --color-gray-800: #494949;
  --color-gray-900: #353535;
  --color-gray-950: #1d1d1d;

  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  --animate-exercise-completed-star: exercise-completed-star 3s ease-in-out forwards;

  @keyframes exercise-completed-star {
    /* Falling in */
    0% {
      transform: translateY(-15vh) rotate(0deg) scale(0.8);
      opacity: 0;
    }

    /* Arrived, visible, spinning */
    30% {
      transform: translateY(0) rotate(180deg) scale(1);
      opacity: 1;
    }

    /* Keep spinning in place */
    60% {
      transform: translateY(0) rotate(540deg) scale(1);
      opacity: 1;
    }

    /* Screen-filling explosion */
    90% {
      transform: translateY(0) rotate(720deg) scale(50);
      opacity: 1;
    }

    /* Fade away */
    100% {
      transform: translateY(0) rotate(720deg) scale(50);
      opacity: 0;
    }
  }

  --animate-chapter-completed-crown: chapter-completed-crown 5s ease-in-out forwards;

  @keyframes chapter-completed-crown {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    15% {
      transform: scale(0);
      opacity: 0;
    }

    35% {
      transform: scale(1.2);
      opacity: 1;
    }

    40% {
      transform: scale(1);
      opacity: 1;
    }

    90% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}
